:root{
  --mat-button-filled-label-text-size: var(--text-sm);
  --mat-button-filled-label-text-weight: 500;
  --mat-button-filled-container-height: 32px;
  --mat-button-filled-container-shape: 8px;
  --mat-button-filled-container-color: var(--color-primary);
}
