<div class="border-border bg-card space-y-5 rounded-lg border p-5">
  <h4>{{ question().caption }}</h4>

  <div class="space-y-3">
    @for (answer of question().answers; track $index) {
      <div
        class="flex cursor-pointer items-center gap-5 rounded-lg bg-gray-100/50 p-2 text-sm hover:bg-gray-100"
        (click)="onAnswer($index)"
        matRipple
      >
        <span
          class="bg-primary text-primary-foreground inline-flex size-6 items-center justify-center rounded-full text-xs font-medium"
          >{{ $index + 1 }}
        </span>
        <span class="text">{{ answer }}</span>
      </div>
    }
  </div>
</div>
