<div class="border-border rounded-radius border p-3">
  <div class="flex justify-end gap-3">
    <button
      class="border-border hover:bg-destructive/5 inline-flex size-8 cursor-pointer items-center justify-center rounded-lg border"
      matRipple
      (click)="onDelete(field)"
    >
      <svg lucideTrash class="stroke-destructive size-3" />
    </button>
    <button
      class="border-border inline-flex size-8 cursor-pointer items-center justify-center rounded-lg border"
      matRipple
      (click)="openEditDialog(field)"
    >
      <svg lucidePenLine class="size-3" />
    </button>
  </div>
  <ng-container #fieldComponent></ng-container>
</div>
