<app-page-header>Create Form</app-page-header>

<div class="rounded-radius border-border bg-card grid grid-cols-4 gap-2 border p-5">
  <div class="border-border rounded-radius col-span-3 border">
    <div class="bg-gray-50 p-5">
      <formly-form [fields]="fields()"></formly-form>
    </div>
  </div>
  <div>
    <div class="border-border rounded-radius col-span-1 border p-2">
      @for (field of defaultFields(); track field.type) {
        <div
          class="rounded-radius cursor-pointer bg-sky-50 p-5 hover:bg-sky-100"
          (click)="onAdd(field)"
        >
          {{ field.type }}
        </div>
      }
    </div>
  </div>
</div>

@if (hasDuplicateKeys()) {
  <p class="text-destructive mt-5 text-lg font-medium">Keys cannot be duplicate!</p>
}

<div class="mt-10">
  <button matButton="filled" [cdkCopyToClipboard]="configs()" [disabled]="hasDuplicateKeys()">
    Copy Config
  </button>
</div>
