<mat-form-field appearance="outline" class="custom-input-field">
  @if (props.label) {
    <mat-label>{{ props.label }}</mat-label>
  }

  <input
    matInput
    [type]="props.type || 'text'"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [placeholder]="props.placeholder || ''"
    [required]="!!props.required"
  />

  @if (props.description) {
    <mat-hint>{{ props.description }}</mat-hint>
  }

  @if (formControl.invalid && formControl.touched) {
    <mat-error>
      <formly-validation-message [field]="field" />
    </mat-error>
  }
</mat-form-field>
