<mat-tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="16">
    <a
      class="hover:bg-accent flex w-full cursor-pointer items-center gap-2 rounded-lg p-1.5"
      [routerLink]="node.routerLink"
    >
      <div
        class="shrink-0 rounded-sm p-1 ring"
        [class]="[colorMapper[node.color].bg, colorMapper[node.color].ring]"
      >
        <svg [lucideIcon]="node.icon" size="12" [class]="colorMapper[node.color].stroke" />
      </div>
      <span>{{ node.name }}</span>
    </a>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodeToggle
    matTreeNodePadding
    matTreeNodePaddingIndent="16"
    [cdkTreeNodeTypeaheadLabel]="node.name"
  >
    <a
      class="hover:bg-accent flex w-full cursor-pointer items-center gap-2 rounded-lg p-1.5"
      matRipple
      [routerLink]="node.routerLink"
    >
      <div
        class="shrink-0 rounded-sm p-1 ring"
        [class]="[colorMapper[node.color].bg, colorMapper[node.color].ring]"
      >
        <svg [lucideIcon]="node.icon" size="12" [class]="colorMapper[node.color].stroke" />
      </div>
      <span>{{ node.name }}</span>
    </a>
  </mat-tree-node>
</mat-tree>
