<mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="16">
    <a
      class="flex w-full cursor-pointer items-center gap-2 rounded-lg p-1.5 hover:bg-gray-50"
      routerLink="{{ node.routerLink }}"
    >
      <div class="shrink-0 rounded-sm bg-rose-100 p-1 ring ring-rose-200">
        <svg [lucideIcon]="node.icon" size="12" class="stroke-rose-500" />
      </div>
      <span class="text-sm">{{ node.name }}</span>
    </a>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodeToggle
    matTreeNodePadding
    matTreeNodePaddingIndent="16"
    [cdkTreeNodeTypeaheadLabel]="node.name"
  >
    <a
      class="flex w-full cursor-pointer items-center gap-2 rounded-lg p-1.5 hover:bg-gray-50"
      matRipple
      routerLink="{{ node.routerLink }}"
    >
      <div class="shrink-0 rounded-sm bg-rose-100 p-1 ring ring-rose-200">
        <svg [lucideIcon]="node.icon" size="12" class="stroke-rose-500" />
      </div>
      <span class="text-sm">{{ node.name }}</span>
    </a>
  </mat-tree-node>
</mat-tree>
